@import "~grapesjs/dist/css/grapes.min.css";

body {
  padding: 0;
  margin: 5px;
}

.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

.gjs-frame {
  width: calc(100% - 60px);
  height: calc(100% - 40px);
  // min-width: 700px;
  flex-basis: 700px;
}

.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: space-between;
}
.panel__basic-actions {
  position: initial;
}

.editor_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.editor_canvas {
  flex-grow: 1;
}

.panel__right {
  flex-basis: 280px;
  position: relative;
  overflow-y: auto;
}